* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
   /* width: 100%;
   height: 100%; */
   margin-top: 13%;
   padding: 3rem;
   background-color: #000;
   border-radius: 10px;
   /* box-shadow: 1px 1px 9px grey; */
}

.box ul li{
    list-style: none;
}

li a {
    display: inline-block;
    position: relative;
    transition: filter .5s, font-size .5s;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: .2rem;
    color: #fff;
}

ul:hover li a {
    filter: blur(2px);
    color: rgb(192, 192, 192);
}

li .ff:hover {
    filter: blur(0);
    color: #fff;
}

ul {
    overflow: hidden;
}

li:hover a {
    font-size: 2rem;
    animation: revealText .5s;
}

@keyframes revealText {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}

li a:before {
    position: absolute;
    content: '';
    bottom: .1rem;
    left: 0;
    height: 1px;
    border-bottom: 3px solid #fff;
    width: 100%;
    transform: translateX(-107%);
    transition: transform 1.5s;
}

li:hover a:before {
    transform: translateX(-30%);
}

